<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Veterinary</title>
</head>
<body style="background-color: antiquewhite;">
    <h1 style="text-align: center;">PET VET</h1>
    <hr>
    <form action="/pets_register" method="POST">
        <label>Pet Name: </label>
        <input type="text" name="Name" autocomplete="off">
        <br><br>
        <label>Color: </label>
        <input type="text" name="Color" autocomplete="off">
        <br><br>
        <label>Issue: </label>
        <input type="text" name="Issue" autocomplete="off">
        <br><br>
        <label>Owner Name: </label>
        <input type="text" name="Owner" autocomplete="off">
        <br><br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>