<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1 style="text-align: center;">MY FLASK PROFILE</h1>
    <hr>
    <h2>{{name}}</h2>
    <h2>{{course}}</h2>
    <h2>{{year}}</h2>
    {% if year == '2nd Year'%}
    <h3>2nd year surviving</h3>
    {% endif%}
    <ul>
        {%for cat in ['Wawu', 'Mekus', 'Buchoy', 'Mimi', 'Nano', 'Buchay']%}
        <li>{{cat}}</li>
        {%endfor%}
    </ul>
    
</body>
</html>