<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Student LMS</title>
</head>
<body>
    <h1>STUDENT LMS</h1>
    <hr>
    <form action="/student_signup" method="POST">
        <label>Name: </label>
        <input type="text" name="name">
        <br><br>
        <label>Email: </label>
        <input type="email" name="email">
        <br><br>
        <label>Password: </label>
        <input type="text" name="password">
        <br><br>
        <label>Course: </label>
        <input type="text" name="course">
        <br><br>
        <label>Year: </label>
        <input type="number" name="year">
        <br><br>
        <button type="submit">Submit</button>
    </form>

    
</body>
</html>